body {
    padding: 157px 635px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 67px;
}

p {
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 347px;
    height: 20px;
    color: #FFFFFF;
    margin-left: -8px;
}


.password {
    border: none;
    border-radius: 10px;
    background-color: #224957;
    height: 45px;
    margin-bottom: 30px;
    color: white;
    width: 300px;
    margin-left: 6px;
}

.login {
    border: none;
    border-radius: 10px;
    background-color: #224957;
    height: 45px;
    margin-bottom: 30px;
    color: white;
    width: 300px;
    margin-left: 6px;
}




label {
    color: #FFFFFF;
}

a {
    color: #20DF7F;
    text-decoration: none;
    margin-left: 35px;
}

.btn {
    background-color: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 13px 128px;
    border: none;
    margin-top: 23px;
    margin-left: 15px;

}